.wrapper {
  /* background: rgba(0,0,0,0.1); */
  height: 760px;
  width: 60%;
  position: absolute;
  top: 70px;
  left: 310px;
  opacity: 1;
  visibility: hidden;
  z-index: -999;
}

.wrapper.active {
  visibility: visible;
}

/* Scrollbar styling */
.hidden-menu::-webkit-scrollbar, .searchDiv::-webkit-scrollbar {
    width: .7em;
}

.hidden-menu::-webkit-scrollbar-track, .searchDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.hidden-menu::-webkit-scrollbar-thumb, .searchDiv::-webkit-scrollbar-thumb {
  background-color: #E50914;
  outline: 1px solid slategrey;
}
.hidden-menu {
  background: rgba(0,0,0,.9);
  height: 760px;
  width: 100%;
  margin: 0;
  border: 1px solid rgba(255,255,255,.15);
  border-top: 2px solid #E50914;
  line-height: 21px;
  color: #FFF;
  display: none;
  opacity: 0;
  overflow-y: scroll;
  z-index: -1;
  }
.hidden-menu-big {
  width: 80%;
}

.topBar {
  height: 22px;
  width: 100%;
  background-color: #E50914;

}

.logo {
  margin: 0 0 0 10px;
  color: #FFF;
  font-size: 0.6em;
  font-weight: 700;
}

.superSearch {
  float: right;
  height: 12px;
  font-size: 0.6em;
  width: 320px;
  padding: 2px;
  color: #E50914;
  background-color: rgba(0,0,0,.9);
  border: 1px solid #E50914;

}


.superSearch::-webkit-input-placeholder {
   color: #E50914;
   opacity: 0.8;
}

.searchDiv {
  background: rgba(0,0,0,1);
  height: 738px;
  width: 320px;
  margin: 0;

  position: absolute;
  top: 24px;
  right: .5em;
  border-left: 1px solid #E50914;

  line-height: 21px;
  color: #FFF;
  display: none;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  transition-duration: 150ms;
}

.searchDiv.focus {
  display: block;
  opacity: 1;
}

/*.blur {
  filter:blur(1.5px);
}*/


.extBrowse {
  color: #E50914;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.redCaret {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  margin-left: 5px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #E50914 transparent transparent transparent;

}

.visible {
  display: block;
  opacity: 1;
  transition-duration: 150ms;
}

ul.extBrowse-ul {
  float: left;

  margin: 10px 0;
  padding: 0 10px 0 10px;
  width: calc(25% - 20px);
}

ul.extBrowse-ul:last-child {
  margin-bottom: 200px;
}

ul:nth-child(6).extBrowse-ul, ul:nth-child(10).extBrowse-ul, ul:nth-child(14).extBrowse-ul, ul:nth-child(18).extBrowse-ul {
  clear: left;
}



.mainTitle {
  list-style: none;
  border-bottom: 1px solid #E50914;
  margin-bottom: 5px;
}
.mainTitle a {
  font-size: 0.8em;
  color: #E50914;
}

.subTitle {
  font-size: 0.6em;
  list-style: none;
}

ul.extBrowse-ul:after {
  content: "";
  clear: both;
}

.subTitle a:hover {
  color: #E50914;



}
